html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #331a00;
  height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

img {
  width: 100%;
  height: auto;
  padding: 0px;
}

.parallax_featuredprojects {
background-image: url("../img/featured_projects.png");
height: 50vh;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax::-webkit-scrollbar {
    display: none;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_layer-base {
  transform: translateZ(0);
  padding: 120vh 0;
}

.parallax_layer-back {
  transform: translateZ(-1px) scale(2);
  padding: 0;
}

@media only screen and (max-aspect-ratio: 1/1) {
.parallax_layer-base {
  transform: translateZ(0);
  padding: 30vh 0;
}
}