{% extends "base.html" %}

{% block content %}

<div class="parallax">

    <div class="parallax_layer parallax_layer-back">
        <img src="../static/img/profile_back.png" alt="Hello There!">
    </div>

    <div class="parallax_layer parallax_layer-base">

        <img src="../static/img/profile_front.png" alt="Hey There!">

        <div class="jumbotron">
        
            <h1 class="display-4" style="text-align: center;">Thank you for dropping by.</h1>
            <p class="lead" style="text-align: center;">Feel free to explore around!</p>
            <hr class="my-4">

            <div class="parallax_featuredprojects"></div>
            <br>

            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="../static/img/bootstrapping_treasury_zero_curve.jpg" class="card-img-top" alt="project1img">
                        <div class="card-body">
                            <a href="/btzc/" class="btzc-link">
                            <h5 class="card-title">Bootstrapping Treasury Zero Curve</h5>
                            </a>
                            <p class="card-text">Simple algorithm that bootstraps a time series of Treasury YTMs into its Zero Curves
                                and Forward Curves.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Project 2</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Project 3</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Project 4</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">

            <p class="lead" style="text-align: center;">Built with Python, HTML & CSS. Deployed on Heroku.</p>
        
        </div>

    </div>

</div>



{% endblock %}